body {
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --navy-blue-color: #2E2F42;
  --iris-color: #4D5AE5;
  --ocean-color: #404BBF;
  --cornflower-color: #E7E9FC;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --slate-color: #434455;
  --cloud-color: #F4F4FD;
  --green-color: #31D0AA;
  --light-slate-color: #8E8F99;
  --dairy-color: #FCFCFC;
  --navy-blue-modal-color: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7);
  --transition-type: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding: 0 16px;
  /* outline: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal-btn {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

/* HEADER */

.page-header {
  border-bottom: 1px solid var(--light-slate-color);
}

.header-container {
  max-width: 428px;
  padding: 24px 16px 22px 16px;
}

.page-nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;

}


.logo {
  width: 115px;
  height: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

.logo span {
  color: var(--navy-blue-color);
}

.button-burger {
  width: 32px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon-burger {

  stroke: var(--navy-blue-color);
}

/* MOBILE-MODAL */


.mobile-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  padding: 80px 40px 40px 40px;
  background-color: #ffffff;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.mobile-close-button {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}


.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 284px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--ocean-color);
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-phone-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--slate-color);
}

.mobile-phone-link:hover,
.mobile-phone-link:focus {
  color: var(--ocean-color);
}


.mobile-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--slate-color);
}

.social-mobile-list {
  display: flex;
  gap: 56px;
}

.social-mobile-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--iris-color);
  opacity: 0.1;
}

.social-mobile-icon {
  fill: var(--cloud-color);
}

.menu {
  display: none;
}

.menu-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean-color);
}

.active {
  color: var(--ocean-color);
}

.active::after {
  display: block;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: -1px;
  background: var(--ocean-color);
  border-radius: 2px;
}

.header-contacts {
  display: none;
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--navy-blue-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean-color);
}

/* MAIN */

/* HERO */

.hero {
  background-color: var(--navy-blue-color);
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/mobile-hero-image-media-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/mobile-hero-image-media-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 72px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  font-weight: 500;
  font-family: inherit;
  display: block;
  margin: 0 auto;
  height: 56px;
  min-width: 169px;
  font-size: 16px;
  color: var(--white-color);
  background-color: var(--iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.hero-button:hover {
  background-color: var(--ocean-color);
}


/* SECTION-1 */

.feature {
  padding: 96px 0;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work-features {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.icon-container {
  display: none;
}

.feature-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/* SECTION-2 */

.about {
  display: none;
}


/* SECTION-3 */

.team {
  padding: 96px 82px;
  background-color: var(--cloud-color);
}

.team-container {
  padding: 0;
}

.section-titel {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item:last-child {
  padding-bottom: 0;
}

.team-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.team-work {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-color);
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud-color);
}

/* Section-4 */

.customers {
  padding: 96px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  fill: var(--light-slate-color);
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--ocean-color);
  border-color: var(--ocean-color);
}

.customers-icon {
  width: 110px;
  height: 56px;
}


/* FOOTER */

.footer {
  background-color: var(--navy-blue-color);
  padding: 96px 15px;
}

.logo-container {
  box-sizing: content-box;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 72px;
}

.footer .logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
}

span.white {
  color: var(--white-color);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower-color);
  width: 264px;
  margin: auto;
}

.social-media-container {
  margin-bottom: 72px;
}

.social-media-title {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--green-color);
}

.social-media-icon {
  width: 24px;
  height: 24px;
  fill: var(--cloud-color);
}

.footer-subscribe-title {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-form {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.button-subscribe {
  font-weight: 500;
  max-width: 165px;
  border-width: 0px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-color);
  background-color: var(--iris-color);
  gap: 16px;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.button-subscribe:hover,
.button-subscribe:focus {
  outline: none;
  background-color: var(--ocean-color);
}

.footer-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: transparent;
  border-width: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--white-color);
}

.footer-input:focus,
.footer-input:hover {
  outline: none;
  border: 1px solid var(--white-color);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.footer-input:focus::placeholder,
.footer-input:hover::placeholder {
  color: var(--white-color);
}

.button-subscribe-icon {
  fill: var(--white-color);
}

/* PORTFOLIO */

/* HEADER */

.header-line {
  border-bottom: 1px solid var(--cornflower-color);
}

/* MAIN */

.menu-filter-buttons {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.buttons {
  padding: 12px 24px;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.buttons:hover {
  border: none;
  color: var(--white-color);
  background-color: var(--ocean-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.project-text-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px 32px;
  text-align: justify;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  background-color: var(--iris-color);
}

.project-item:hover .project-text-overlay {
  transform: translateY(0);
}

.project-card-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.project-link:hover,
.project-link:focus {
  box-shadow: inset 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-item-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms var(--transition-type);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 392px;
  height: 586px;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  background-color: var(--dairy-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scaleY(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.close-button {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--ocean-color);
  border: none;
}

.close-button-icon {
  fill: var(--navy-blue-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--white-color);
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  padding-top: 24px;
  color: var(--navy-blue-color);
}

.modal-textarea {
  margin-bottom: 16px;
}

.input-text {
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--light-slate-color);
  margin-bottom: 4px;
  cursor: pointer;
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 38px;
  color: var(--light-slate-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);

}

.modal-input:hover,
.modal-input:focus {
  outline: none;
  border: 1px solid var(--iris-color);
}

.modal-input::placeholder {
  color: transparent;
}


.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--navy-blue-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
  fill: var(--iris-color);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--iris-color);
}


.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
  border: 1px solid var(--navy-blue-color);
  border-radius: 4px;
  padding: 8px 2px 0 16px;
  resize: none;
  background-color: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
}

.modal-textarea:hover,
.modal-textarea:focus {
  outline: none;
  border: 1px solid var(--iris-color);
}

.terms-acces {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-input-terms {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  color: var(--light-slate-color);
  letter-spacing: 0.04em;
  margin: 0;
  margin-left: 24px;
  position: relative;
}

.alt-checkbox {
  position: absolute;
  left: -23px;
  bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: var(--cloud-color);
  border: 1px solid var(--navy-blue-color);
  border-radius: 2px;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
  cursor: pointer;
}

.modal-input-checkbox:checked+.alt-checkbox {
  background-color: var(--iris-color);
  border-color: var(--iris-color);
}

.modal-check-icon {
  fill: var(--cloud-color);
}

.privat-policy {
  color: var(--iris-color);
}

.send-button {
  width: 169px;
  height: 56px;
  background: var(--iris-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-type);
  cursor: pointer;
  border-color: transparent;
}

.send-button:hover {
  background-color: var(--ocean-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}